.advantages__wrapper {
  padding-top: 28px;
  padding-bottom: 10px;
}

.advantages__title {
  @include section-header;
  @include display (block, 26px);
}

.advantages__list {
  @include list-reset;

  padding-right: 10px;
}

.advantages__item {
  position: relative;
  margin-bottom: 23px;
  padding-top: 60px;

  &::before {
    content: "";

    position: absolute;
    bottom: 57%;
    left: 3%;
    width: 32px;
    height: 37px;

    background-color: transparent;
    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--scandic::before {
    bottom: 66%;
    left: 0;
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    bottom: 61%;
    left: 3%;
    width: 34px;
    height: 28px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    bottom: 57%;
    left: 1%;
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--domestic::before {
    bottom: 67%;
    left: -2%;
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    bottom: 60%;
    left: 1%;
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    @include wrapper-tablet;

    padding-top: 48px;
    padding-bottom: 32px;
  }

  .advantages__title {
    @include section-header-tb;

    margin-bottom: 43px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .advantages__list-wrapper {
    flex-basis: 50%;

    &:first-of-type {
      margin-right: 10px;
    }
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 51px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 700px;

    margin: 0 auto;
    padding: 55px 0 39px;
  }

  .advantages__title {
    @include section-header-desktop;
  }

  .advantages__item {
    padding-right: 45px;
  }
}
