.advantages__wrapper {
  @include wrapper;

  padding-top: 31px;
  padding-bottom: 10px;
}

.advantages__title {
  @include section-header;
  @include display (block, 26px);
}

.advantages__list {
  @include list-reset;

  padding-right: 10px;
}

.advantages__item {
  margin-bottom: 23px;
  padding-top: 60px;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    @include wrapper-tablet;

    padding-top: 48px;
    padding-bottom: 32px;
  }

  .advantages__title {
    @include section-header-tb;

    margin-bottom: 43px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .advantages__list-wrapper {
    flex-basis: 50%;

    &:first-of-type {
      margin-right: 10px;
    }
  }

  .advantages__item {
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 51px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    width: 700px;

    margin: 0 auto;
    padding: 55px 250px 39px;
  }

  .advantages__title {
    @include section-header-desktop;
  }

  .advantages__item {
    padding-right: 45px;
  }
}
