.catalog-header {

  padding: 70px 10px 76px;

  background-color: $bg-grey;
}

.catalog-header__title {
  @include page-header;

  text-align: center;
}

.catalog-header__label {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog-header {
    position: relative;

    padding: 95px 10px 92px;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 22px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: contain;
    }
  }

  .catalog-header__title {
    @include section-header-tb;

    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-header {
    padding-top: 93px;
    padding-bottom: 110px;

    &::after {
      background-size: initial;
    }
  }

  .catalog-header__title {
    @include section-header-desktop;
  }
}
