$lh: 24px;

.catalog__wrapper {
  padding-top: 29px;
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.catalog__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  border: $border;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.catalog__name {
  margin: 0 27px 5px;
}

.catalog__link {
  font-size: $primary-font-size;
  line-height: $lh;

  color: $primary-color;
}

.catalog__image-link {
  order: -1;

  margin-bottom: 27px;
}

.catalog__image {
  display: block;
  width: 100%;
}

.catalog__item-size {
  @include description;

  margin: 0 28px 19px 28px;

  font-size: 13px;
}

.catalog__item-price {
  margin: 0 27px;
  padding-top: 20px;
  padding-bottom: 29px;

  font-size: 15px;
  line-height: $lh;

  border-top: $border;
}

.catalog__add-to-cart {
  position: absolute;
  bottom: 31px;
  right: 27px;

  width: 20px;
  height: 19px;

  opacity: 0.2;

  fill: #000000;

  &:hover {
    opacity: 1;

    fill: $mint-light;
  }

  &:active {
    opacity: 0.3;

    fill: $mint-light;
  }
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    padding-top: 67px;
  }

  .catalog__item {
    position: relative;
    height: 334px;

    margin-bottom: 54px;

    box-sizing: border-box;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__name {
    margin: 25px 27px 5px 360px;
    padding-right: 45px;
  }

  .catalog__link {
    font-size: 20px;
  }

  .catalog__image-link {
    position: absolute;
    top: 0;
    left: 0;

    margin-bottom: 0;
  }

  .catalog__image-wrapper {
    width: 334px;
    height: 334px;
  }

  .catalog__item-size {
    margin-left: 360px;

    font-size: 15px;
  }

  .catalog__item-price {
    margin-top: auto;
    margin-left: 364px;
    padding-top: 22px;
    padding-bottom: 25px;

    font-size: $primary-font-size;
  }

  .catalog__add-to-cart {
    width: 21px;
    height: 18px;

    right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding-top: 122px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 316px;
    height: auto;

    margin-right: 51px;
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__name {
    margin: 0 50px 5px 26px;
    padding-right: 0;
  }

  .catalog__image-link {
    position: inherit;

    margin-bottom: 25px;
  }

  .catalog__image-wrapper {
    width: 316px;
    height: 462px;
  }

  .catalog__item-size {
    margin-left: 26px;
    margin-bottom: 14px;
  }

  .catalog__item-price {
    margin: auto 27px 0 27px;
  }
}
