.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 20px 38px 0;

  font-size: $primary-font-size + 2px;
  line-height: $primary-font-size + 1px;
  color: #000000;

  border-top: 1px solid #e5e5e5;
}

.copyright__text {
  margin-right: 28px;
}

.copyright__image {
  fill: #63d1bb;

  display: block;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0 0 0 10px;
    padding: 0;

    border: none;
  }

  .copyright__text {
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    &:hover {
      .copyright__image {
        fill: #46c1ae;
      }
    }

    &:active {
      .copyright__image {
        fill: #46c1ae;
        opacity: 0.3;
      }

      .copyright__text {
        opacity: 0.3;
      }
    }
  }
}
