.copyright {
  display: flex;
  justify-content: space-between;
  width: 182px;

  margin-left: auto;
  margin-right: auto;
  padding: 27px 39px 0;

  border-top: 1px solid #e5e5e5;
}

.copyright__text {
  font-size: $primary-font-size + 2px;
  line-height: $primary-font-size + 1px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 12px 0 0 0;
    padding: 0;

    border: none;
  }
}
