.form-header {
  @include page-header;

  margin-bottom: 22px;
  padding: 70px 10px 76px;

  background-color: $bg-grey;

  text-align: center;
}

.form-header__text {
  margin: 0;

  font-size: $txt-size - 2px;
  font-weight: 400;
  line-height: 24px;
  color: $txt-color;
}

@media (min-width: $tablet-width) {
  .form-header {
    @include section-header-tb;

    position: relative;

    margin-bottom: 59px;
    padding: 93px 10px 95px;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 22px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: contain;
    }
  }

  .form-header__text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-header {
    @include section-header-desktop;

    margin-bottom: 114px;
    padding-bottom: 112px;

    &::after {
      background-size: initial;
    }
  }

  .form-header__text {
    padding-left: 175px;
    padding-right: 175px;
  }
}
