.form-header {
  @include page-header;

  margin-bottom: 22px;
  padding: 70px 10px 76px;

  background-color: $bg-grey;

  text-align: center;
}

.form-header__text {
  margin: 0;
  margin-left: 30px;
  padding-right: 45px;

  font-size: $txt-size - 2px;
  font-weight: 400;
  line-height: 24px;
  color: $txt-color;
}

@media (min-width: $tablet-width) {
  .form-header {
    @include section-header-tb;

    margin-bottom: 75px;
    padding: 93px 10px 80px;
  }

  .form-header__text {
    @include wrapper-tablet;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-header {
    @include section-header-desktop;

    margin-bottom: 125px;
    padding-bottom: 100px;
  }

  .form-header__text {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 0 250px;
  }
}
