.order__wrapper {
  @include wrapper;

  padding-top: 25px;
  padding-bottom: 55px;
}

.order__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;

  border: 0;

  &:last-of-type {
    margin-bottom: 11px;
  }

  &--color {
    margin-bottom: 1px;
  }

  &--personal {
    margin-bottom: 10px;
  }

  &--phone {
    margin-bottom: 10px;
  }

  &--email {
    margin-bottom: 10px;
  }
}

.order__field-title {
  margin-bottom: 33px;

  line-height: 16px;
  color: $mint-light;

  text-transform: uppercase;

  &--personal {
    margin-bottom: 29px;
  }

  &--phone {
    margin-bottom: 20px;
  }

  &--email {
    margin-bottom: 22px;
  }

  &--comment {
    margin-bottom: 23px;
  }
}

.order__type-item {
  margin-bottom: 20px;
  padding-left: 62px;
}

.order__color-item {
  margin-bottom: 41px;
  padding-left: 61px;
}

.order__label {
  line-height: 18px;
}

.order__field-label {
  display: block;
  margin-bottom: 14px;

  line-height: 18px;
}

.order__field {
  margin-bottom: 23px;

  &--comment {
    margin-bottom: 0;
  }
}

.order__input {
  width: 100%;

  padding-bottom: 15px;

  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba($txt-color, $alpha: 0.2);
  }
}

.order__comment {
  width: 100%;
  box-sizing: border-box;

  padding: 14px 17px 12px;

  border: 2px solid #000000;

  &::placeholder {
    color: rgba($txt-color, $alpha: 0.2);
  }
}

.order__type-list {
  @include list-reset;
}

.order__color-list {
  @include list-reset;
}

.order__required {
  margin: 0;
  margin-bottom: 30px;

  font-size: $txt-size - 1px;
  font-weight: 400;
  line-height: 16px;
}

.order__button {
  padding: 14px 45px;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    padding: 0;
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .order__fieldset {
    margin-bottom: 0;

    &--color {
      background-color: $bg-grey;
    }

    &--phone {
      background-color: $bg-grey;
    }

    &--email {
      margin-top: -1px;

      background-color: $bg-grey;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .order__type-fieldset-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    margin-bottom: 11px;
    padding: 0 50px 0;
  }

  .order__color-fieldset-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    padding: 66px 20px 11px 50px;
  }

  .order__personal-fieldset-container {
    @include wrapper-tablet;

    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    padding-top: 60px;
    padding-bottom: 17px;
  }

  .order__phone-fieldset-container {
    @include wrapper-tablet;

    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    padding-top: 62px;
    padding-bottom: 17px;
  }

  .order__email-fieldset-container {
    @include wrapper-tablet;

    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    padding-bottom: 30px;
  }

  .order__comment-fieldset-container {
    @include wrapper-tablet;

    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    padding-top: 50px;
    padding-bottom: 34px;
  }

  .order__personal-container {
    flex-grow: 1;
  }

  .order__type-item {
    margin-bottom: 57px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__color-list {
    display: flex;
    flex-wrap: wrap;
  }

  .order__color-item {
    flex-basis: 180px;

    padding-left: 81px;
    margin-bottom: 58px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__field-title {
    &--type {
      margin-right: 150px;
    }

    &--color {
      margin-right: 124px;
    }

    &--personal {
      margin-right: 126px;
    }

    &--phone {
      margin-right: 135px;
    }

    &--email {
      margin-right: 109px;
    }

    &--comment {
      margin-right: 128px;
    }
  }

  .order__field-label {
    margin-right: 24px;
    margin-bottom: 34px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__input {
    padding-bottom: 13px;
    padding-left: 17px;

    font-size: 19px;
    line-height: 18px;

    &--phone {
      padding-top: 0;
      padding-bottom: 11px;

      background-color: transparent;
    }

    &--email {
      padding-top: 0;
      padding-bottom: 13px;

      background-color: transparent;
    }
  }

  .order__field {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-grow: 1;

    margin-bottom: 19px;
  }

  .order__comment {
    padding: 14px 15px 17px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__required {
    order: 1;
    margin-bottom: 0;
    margin-left: auto;

    font-size: 17px;
    line-height: 30px;

    color: $txt-color;
  }

  .order__bottom-wrapper {
    @include wrapper-tablet;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .order__button {
    padding: 14px 29px;
  }
}

@media (min-width: $desktop-width) {
  .order__type-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 0 140px 12px;
  }

  .order__color-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 66px 100px 10px 135px;
  }

  .order__personal-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 60px 250px 17px 135px;
  }

  .order__phone-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 61px 250px 18px 135px;
  }

  .order__email-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 0 250px 30px 135px;
  }

  .order__comment-fieldset-container {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 50px 250px 30px 135px;
  }

  .order__bottom-wrapper {
    width: 1200px;
    box-sizing: border-box;

    margin: 0 auto;

    padding: 0 250px;
  }

  .order__field-title {
    &--type {
      margin-right: 93px;
    }

    &--color {
      margin-right: 70px;
    }

    &--personal {
      margin-right: 75px;
    }

    &--phone {
      margin-right: 82px;
    }

    &--email {
      margin-right: 57px;
    }

    &--comment {
      margin-right: 77px;
    }
  }
}
