.order__wrapper {
  padding: 32px 30px 55px;
}

.order__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  border: 0;
  border-top: 1px solid #62d1ba;

  &:last-of-type {
    margin-bottom: 11px;
  }

  &--color {
    margin-bottom: 7px;
  }

  &--personal {
    margin-bottom: 17px;
  }

  &--phone {
    margin-bottom: 18px;
  }

  &--email {
    margin-bottom: 17px;
  }
}

.order__fieldset-container {
  margin-top: -10px;
}

.order__field-title {
  display: inline-block;

  margin: 0;
  padding-right: 25px;

  font-size: 17px;
  line-height: 16px;
  color: $mint-light;

  background-color: #ffffff;

  text-transform: uppercase;

  &--type {
    margin-bottom: 33px;
  }

  &--color {
    margin-bottom: 35px;
  }

  &--personal {
    margin-bottom: 28px;
  }

  &--phone {
    margin-bottom: 19px;
  }

  &--email {
    margin-bottom: 20px;
  }

  &--comment {
    margin-bottom: 25px;
  }
}

.order__type-item {
  margin-bottom: 23px;
  padding-left: 62px;
}

.order__color-item {
  margin-bottom: 43px;
  padding-left: 62px;
}

.order__label {
  position: relative;

  display: block;

  line-height: 18px;

  cursor: pointer;
  user-select: none;

  &--type {
    min-height: 36px;
  }
}

.order__checkbox + .order__label::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -61px;

  width: 40px;
  height: 39px;

  border: 2px solid #444444;
}

.order__checkbox:checked + .order__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 22px 16px;
  background-position: center;
}

.order__radio + .order__label::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -61px;

  width: 39px;
  height: 39px;

  border: 2px solid #444444;
  border-radius: 50%;
}

.order__radio:checked + .order__label::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -50px;

  width: 16px;
  height: 16px;

  background-color: #62d1ba;
  border-radius: 50%;
}

.order__field-label {
  display: block;
  margin-bottom: 13px;

  line-height: 18px;
}

.order__field {
  margin-bottom: 22px;

  &--comment {
    margin-bottom: 0;
  }
}

.order__input {
  width: 100%;

  padding: 2px 0 16px;

  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top -3px right 9px;

    &:focus {
      background-image: url("../img/icon-phone-green.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: top -3px right 9px;
    }

    &:active {
      background-image: url("../img/icon-phone-green.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: top -3px right 9px;
    }
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top -2px right 5px;

    &:focus {
      background-image: url("../img/icon-mail-green.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: top -2px right 5px;
    }

    &:active {
      background-image: url("../img/icon-mail-green.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: top -2px right 5px;
    }
  }

  &::placeholder {
    color: rgba($txt-color, $alpha: 0.2);
  }

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:active {
    outline: none;
    color: $txt-color;
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    outline: none;
    color: $txt-color;
    border-bottom: 2px solid #62d1ba;
  }
}

.order__comment {
  width: 100%;
  box-sizing: border-box;

  padding: 14px 15px 10px;

  border: 2px solid #000000;

  // For Mobile Safari (iPhone)
  border-radius: 0;
  appearance: none;

  &::placeholder {
    color: rgba($txt-color, $alpha: 0.2);
  }

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    outline: none;
    color: $txt-color;
    border: 2px solid #62d1ba;
  }

  &:focus {
    outline: none;
    color: $txt-color;
    border: 2px solid #62d1ba;
  }
}

.order__type-list {
  @include list-reset;
}

.order__color-list {
  @include list-reset;
}

.order__required {
  margin: 0;
  margin-bottom: 32px;
  margin-left: -3px;

  font-size: $txt-size - 1px;
  font-weight: 400;
  line-height: 16px;
}

.order__button {
  width: 100%;

  display: block;

  padding: 14px;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    padding: 0;
    padding-top: 82px;
    padding-bottom: 50px;
  }

  .order__fieldset {
    margin-bottom: 0;

    border: 0;

    &--color {
      background-color: $bg-grey;
    }

    &--phone {
      background-color: $bg-grey;
    }

    &--email {
      margin-top: -1px;

      background-color: $bg-grey;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .order__fieldset-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    &--type {
      padding: 0 50px 12px;
    }

    &--color {
      padding: 77px 50px 11px;
    }

    &--personal {
      padding: 68px 50px 17px;
    }

    &--phone {
      padding: 71px 50px 28px;
    }

    &--email {
      padding: 0 50px 32px;
    }

    &--comment {
      padding: 60px 50px 34px;
    }
  }

  .order__radio + .order__label::before {
    top: -15px;
    left: -80px;

    width: 52px;
    height: 52px;
  }

  .order__radio:checked + .order__label::after {
    top: 1px;
    left: -65px;

    width: 21px;
    height: 21px;
  }

  .order__checkbox + .order__label::before {
    top: -16px;
    left: -82px;

    width: 54px;
    height: 52px;
  }

  .order__checkbox:checked + .order__label::before {
    background-size: 33px 32px;
  }

  .order__personal-container {
    flex-grow: 1;
  }

  .order__type-item {
    margin-bottom: 39px;
    padding-left: 80px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .order__color-item {
    flex-basis: 238px;

    padding-left: 81px;
    margin-bottom: 58px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__field-title {
    background-color: transparent;

    &--type {
      margin-right: 105px;
    }

    &--color {
      margin-right: 98px;
    }

    &--personal {
      margin-right: 100px;
    }

    &--phone {
      margin-right: 110px;
    }

    &--email {
      margin-right: 83px;
    }

    &--comment {
      margin-right: 103px;
    }
  }

  .order__field-label {
    margin-right: 24px;
    margin-bottom: 34px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__input {
    padding: 2px 17px 13px;

    font-size: 19px;
    line-height: 18px;

    &--phone {
      padding-top: 0;

      background-position: top 0 right 26px;

      &:focus {
        background-position: top 0 right 26px;
      }

      &:active {
        background-position: top 0 right 26px;
      }
    }

    &--email {
      padding-top: 0;

      background-position: top 0 right 23px;

      &:focus {
        background-position: top 0 right 23px;
      }

      &:active {
        background-position: top 0 right 23px;
      }
    }
  }

  .order__field {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-grow: 1;

    margin-bottom: 18px;
  }

  .order__comment {
    padding: 14px 15px 17px;

    font-size: 19px;
    line-height: 18px;
  }

  .order__required {
    order: 1;
    margin-bottom: 0;
    margin-left: auto;

    font-size: 17px;
    line-height: 30px;

    color: $txt-color;
  }

  .order__bottom-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding: 0 50px;
  }

  .order__button {
    width: auto;

    padding: 14px 29px;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    padding-top: 72px;
  }

  .order__fieldset-container {
    width: 1050px;
    margin: 0 auto;

    &--type {
      padding: 0 64px 12px;
    }

    &--color {
      padding: 66px 60px 11px;
    }

    &--personal {
      padding: 58px 175px 17px 60px;
    }

    &--phone {
      padding: 61px 175px 19px 60px;
    }

    &--email {
      padding: 0 175px 31px 60px;
    }

    &--comment {
      padding: 50px 175px 30px 60px;
    }
  }


  .order__color-list {
    justify-content: flex-start;
  }

  .order__color-item {
    flex-basis: 263px;
  }

  .order__bottom-wrapper {
    width: 1050px;

    margin: 0 auto;
    padding: 0 175px;
  }

  .order__field-title {
    &--type {
      margin-right: 50px;
    }

    &--color {
      margin-right: 46px;
    }

    &--personal {
      margin-right: 50px;
    }

    &--phone {
      margin-right: 57px;
    }

    &--email {
      margin-right: 32px;
    }

    &--comment {
      margin-right: 50px;
    }
  }

  .order__radio {
    &:hover + .order__label::before {
      border: 2px solid #62d1ba;
    }

    &:active + .order__label::before {
      border: 2px solid rgba(#444444, 0.3);
    }
  }

  .order__checkbox {
    &:hover + .order__label::before {
      border: 2px solid #62d1ba;
    }

    &:active + .order__label::before {
      border: 2px solid rgba(#444444, 0.3);
    }
  }

  .order__input {
    &--phone {
      background-position: top 0 right 8px;

      &:hover {
        background-image: url("../img/icon-phone-green.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: top 0 right 8px;
      }

      &:focus {
        background-position: top 0 right 8px;
      }
    }

    &--email {
      background-position: top 0 right 4px;

      &:hover {
        background-image: url("../img/icon-mail-green.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: top 0 right 4px;
      }

      &:focus {
        background-position: top 0 right 4px;
      }
    }
  }
}
