.page__title {
  @include page-header;

  padding: 70px 10px 76px;

  background-color: $bg-grey;

  text-align: center;

  &--form {
    margin-bottom: 22px;
  }
}

.page__text {
  margin: 0;

  font-size: $txt-size - 2px;
  font-weight: 400;
  line-height: 24px;
  color: $txt-color;
}

@media (min-width: $tablet-width) {
  .page__title {
    @include section-header-tb;

    position: relative;

    padding: 93px 50px 95px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 24px;

    &--form {
      margin-bottom: 59px;
    }
  }

  .page__text {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page__title {
    @include section-header-desktop;

    padding-bottom: 121px;

    background-size: auto 34px;

    &--form {
      margin-bottom: 105px;
    }
  }

  .page__text {
    padding-left: 175px;
    padding-right: 175px;
  }
}
