.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrapper {
  @include wrapper;

  padding-top: 26px;
  padding-bottom: 30px;
}

.page-footer__logo-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include wrapper-tablet;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 34px;
    padding-bottom: 41px;
  }

  .page-footer__logo-image {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include wrapper-desktop;

    padding-top: 34px;
    padding-bottom: 41px;
  }
}
