.page-header {
  border-bottom: $border;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 79px;

  margin-left: auto;
  margin-right: auto;
}

.page-header__logo-image {
  margin: auto 0;
}

.page-header__label {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: $bg-color;
  }

  .page-header__wrapper {
    display: flex;

    margin: 0 auto;
    padding: 0 50px;

    height: 88px;

    position: relative;
  }

  .page-header__logo {
    width: 150px;
    height: auto;

    margin-left: -20px;

    border: none;
  }

  .page-header__logo[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__label {
    position: absolute;
    top: 100%;
    right: 50px;
    z-index: 1;

    display: block;
    margin: 0;
    padding: 18px 0;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    height: 88px;
  }

  .page-header__wrapper {
    width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .page-header__logo {
    height: 88px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .page-header__label {
    right: 75px;
  }
}
