.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  width: 100%;

  padding: 27px 30px 27px 76px;

  border-bottom: $border;
}

.site-list__link {
  color: $primary-color;
  line-height: 24px;

  &:hover {
    color: rgba($primary-color, $alpha: 0.6);
  }

  &:active {
    color: rgba($primary-color, $alpha: 0.3);
  }
}

.site-list__extra-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 106px;
    left: 49px;
    width: 334px;
  }

  .site-list__item {
    padding: 0;

    border-bottom: none;
  }

  .site-list__link {
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: inherit;
    width: 382px;
    align-items: center;

    margin-right: auto;
  }

  .site-list__link {
    font-size: 17px;
  }

  .site-list__extra-list {
    display: flex;


    position: absolute;
    top: 106px;
  }

  .site-list__extra-link {
    margin-right: 61px;

    font-size: 15px;
    line-height: 24px;

    color: #000000;
  }
}
