.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  border-top: $border;
}

.site-list__link {
  display: block;
  padding: 27px 30px 27px 76px;

  color: $primary-color;
  line-height: 24px;

  &:hover {
    color: rgba($primary-color, $alpha: 0.6);
  }

  &:active {
    color: rgba($primary-color, $alpha: 0.3);
  }
}

.site-list__extra-item {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 105px;
    left: 49px;
    width: 336px;
    z-index: 1;
  }

  .site-list__item {
    padding-right: 34px;

    border-top: none;
  }

  .site-list__link {
    padding: 0;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: inherit;
    width: 382px;
    align-items: baseline;
    flex-wrap: wrap;
    flex: 0 0 50%;

    padding-right: 145px;
  }

  .site-list__item {
    flex: 1 0 190px;

    padding: 0;

    &:first-of-type {
      border-right: $border;
    }
  }

  .site-list__link {
    padding: 31px 0;

    font-size: 17px;

    &--knitting {
      padding-left: 30px;
    }
  }

  .site-list__extra-item {
    z-index: 1;
    display: block;

    padding: 18px 62px 18px 0;
  }

  .site-list__extra-link {
    font-size: 15px;
    line-height: 24px;

    color: #000000;

    &:hover {
      color: rgba($primary-color, $alpha: 0.6);
    }

    &:active {
      color: rgba($primary-color, $alpha: 0.3);
    }
  }
}
