.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {
  width: 100%;

  border-bottom: $border;
}

.site-list__link {
  display: block;
  padding: 27px 30px 27px 76px;

  color: $primary-color;
  line-height: 24px;

  &:hover {
    color: rgba($primary-color, $alpha: 0.6);
  }

  &:active {
    color: rgba($primary-color, $alpha: 0.3);
  }
}

.site-list__extra-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 105px;
    left: 49px;
    width: 336px;
    z-index: 1;
  }

  .site-list__item {
    padding: 0;

    border-bottom: none;
  }

  .site-list__link {
    padding: 0;

    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    position: inherit;
    width: 382px;
    align-items: center;

    margin-right: auto;
  }

  .site-list__item {
    &:first-of-type {
      border-right: $border;
    }
  }

  .site-list__link {
    padding: 31px 0;

    font-size: 17px;

    &--knitting {
      padding-left: 30px;
    }
  }

  .site-list__extra-list {
    position: absolute;
    top: 105px;
    z-index: 1;
    display: flex;
  }

  .site-list__extra-link {
    margin-right: 61px;

    font-size: 15px;
    line-height: 24px;

    color: #000000;

    &:hover {
      color: rgba($primary-color, $alpha: 0.6);
    }

    &:active {
      color: rgba($primary-color, $alpha: 0.3);
    }
  }
}
