.social {
  margin-bottom: 26px;
}

.social__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 141px;

  margin: 0 auto;

  text-align: center;
}

.social__link {
  align-items: center;

  display: flex;
  justify-content: center;
  width: 25px;
  height: 28px;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 15px auto 5px 75px;
  }

  .social__link-icon {
    fill: #231f20;
  }

  .social__link {
    &:hover .social__link-icon {
      fill: #46c1ae;
    }

    &:active .social__link-icon {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}
