.social {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto 14px;

  text-align: center;
}

.social__link {
  width: 60px;
  height: 50px;

  align-items: center;

  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .social {
    margin: 0 auto;
  }

  .social__link-icon {
    fill: #231f20;
  }

  .social__link {
    &:hover .social__link-icon {
      fill: #46c1ae;
    }

    &:active .social__link-icon {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin: 0 auto;
  }
}
