.user-list {
  @include list-reset;
}

.user-list__item {
  width: 100%;

  padding: 27px 30px 27px 76px;

  border-bottom: $border;
}

.user-list__link {
  color: $primary-color;
  line-height: 24px;

  &:hover {
    color: rgba($primary-color, $alpha: 0.6);
  }

  &:active {
    color: rgba($primary-color, $alpha: 0.3);
  }
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .user-list__item {
    padding: 0;

    border-bottom: none;

    &--search {
      width: 83px;
    }

    &--cart {
      width: 265px;

      text-align: right;
    }
  }

  .user-list__link {
    &--cart {
      padding-left: 53px;
    }
  }
}
