.video__wrapper {
  padding-top: 30px;
  padding-bottom: 58px;
}

.video__image-container {
  position: relative;
}

.video__container {
  padding-top: 23px;
  padding-bottom: 32px;

  border: 1px solid #ececec;
}

.video__title {
  position: relative;

  max-width: 240px;

  margin: 0;
  margin-bottom: 24px;
  padding-right: 15px;
  padding-left: 90px;

  font-size: $primary-font-size;
  line-height: 24px;

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 33px;
    width: 32px;
    height: 32px;

    background-color: transparent;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.video__image {
  min-height: 150px;
  width: 100%;
  display: block;

  margin-bottom: 27px;

  background-color: #ffffff;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.video__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 33px;

  font-size: $txt-size - 2px;
  font-weight: 400;
  line-height: 24px;
  color: $txt-color;
}

.video__order {
  display: block;

  margin: 0 33px;
  padding: 14px 20px;
}

@media (min-width: $tablet-width) {
  .video__wrapper {
    padding-top: 52px;
    padding-bottom: 63px;
  }

  .video__container {
    display: flex;
    flex-direction: column;

    padding-top: 0;
    padding-bottom: 45px;
  }

  .video__title {
    max-width: 500px;

    margin-bottom: 32px;
    padding-left: 106px;

    font-size: 20px;

    &::after {
      top: -5px;
      left: 41px;
    }
  }

  .video__image-container {
    order: -1;

    margin-bottom: 11px;
  }

  .video__image {
    min-height: 455px;


    background-image: url("../img/video-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__description {
    margin-bottom: 35px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__play {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -47%);
  }

  .video__order {
    margin: 0 41px;
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    padding-top: 56px;
    padding-bottom: 105px;
  }

  .video__container {
    position: relative;

    padding-right: 56px;
    padding-bottom: 59px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .video__title {
    margin: 50px 0 34px 760px;
    padding-top: 45px;
    padding-left: 0;

    &::after {
      top: -9px;
      left: 2px;
    }
  }

  .video__image-container {
    //для IE11
    position: absolute;

    top: 0;
  }

  .video__image {

    width: 682px;

    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__play {
    top: 188px;
    left: 290px;
    transform: none;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  .video__description {
    margin-bottom: 45px;
    margin-left: 760px;
    padding: 0;
  }

  .video__order {
    margin: 0 0 0 auto;
    padding: 14px 44px;

    //для IE11
    align-self: flex-start;
  }
}
