.video__wrapper {
  @include wrapper;

  padding-top: 30px;
  padding-bottom: 58px;
}

.video__container {
  padding-top: 23px;
  padding-bottom: 32px;

  border: 1px solid #ececec;
}

.video__title {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 15px;
  padding-left: 90px;

  font-size: $primary-font-size;
  line-height: 24px;
}

.video__image {
  height: 150px;
  width: 260px;

  margin-bottom: 24px;
}

.video__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 33px;

  font-size: $txt-size - 2px;
  font-weight: 400;
  line-height: 24px;
  color: $txt-color;
}

.video__order {
  display: block;

  margin: 0 33px;
  padding: 14px 20px;
}

@media (min-width: $tablet-width) {
  .video__wrapper {
    @include wrapper-tablet;

    padding-top: 52px;
    padding-bottom: 63px;
  }

  .video__container {
    display: flex;
    flex-direction: column;

    padding-top: 0;
    padding-bottom: 45px;
  }

  .video__title {
    margin-bottom: 32px;
    padding-left: 106px;

    font-size: 20px;
  }

  .video__image {
    order: -1;
    height: 455px;
    width: 668px;

    margin-bottom: 39px;
  }

  .video__description {
    margin-bottom: 35px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__order {
    margin: 0 41px;
  }
}

@media (min-width: $desktop-width) {
  .video__wrapper {
    @include wrapper-desktop;

    padding-top: 52px;
    padding-bottom: 105px;
  }

  .video__container {
    position: relative;

    padding-right: 55px;
    padding-bottom: 59px;
  }

  .video__title {
    margin: 50px 0 34px 760px;
    padding-top: 50px;
    padding-left: 0;
  }

  .video__image {
    position: absolute;
    width: 682px;
  }

  .video__description {
    margin-bottom: 46px;
    margin-left: 760px;
    padding: 0;
  }

  .video__order {
    margin: 0 0 0 auto;
    padding: 14px 44px;
  }
}
