.weekly-hit__wrapper {
  position: relative;

  padding-top: 27px;
  padding-bottom: 40px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

.weekly-hit__header {
  @include section-header;

  margin-bottom: 5px;
}

.weekly-hit__label {
  @include display (block, 23px);

  color: $mint-light;

  text-transform: uppercase;
}

.weekly-hit__container {
  display: flex;
  flex-direction: column;
}

.weekly-hit__image {
  @include display (block, 24px);

  width: 100%;
  height: auto;
}

.weekly-hit__description {
  @include description;

  order: -1;

  margin-bottom: 18px;

  line-height: 24px;
}

.weekly-hit__characteristics {
  @include description;

  width: 100%;
  order: -1;

  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;
}

.weekly-hit__property {
  padding: 9px 13px 10px 0;

  font-weight: 400;
  text-align: left;

  border-bottom: $border;
}

.weekly-hit__value {
  border-bottom: $border;
}

.weekly-hit__price {
  margin-bottom: 26px;
  padding: 0 20px;

  line-height: 24px;
  color: $txt-color;

  text-align: center;
}

.weekly-hit__order {
  padding: 14px 80px;
}

// Styles for tablet version

@media (min-width: $tablet-width) {
  .weekly-hit__wrapper {
    position: relative;

    padding-top: 44px;
    padding-bottom: 70px;
  }

  .weekly-hit__header-wrapper {
    display: flex;
    flex-wrap: nowrap;

    margin-bottom: 32px;
  }

  .weekly-hit__header {
    @include section-header-tb;
  }

  .weekly-hit__label {
    flex-basis: 125px;

    margin-left: auto;
    margin-top: 11px;

    line-height: 17px;
    text-align: center;
  }

  .weekly-hit__image-wrapper {
    position: absolute;
    top: 152px;

    width: 333px;
    height: 404px;

    align-self: flex-end;
  }

  .weekly-hit__description {
    width: 291px;

    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .weekly-hit__characteristics {
    width: 291px;

    margin-bottom: 56px;
  }

  .weekly-hit__property {
    padding: 9px 0 10px 0;
  }

  .weekly-hit__price {
    width: 291px;
    box-sizing: border-box;

    margin-bottom: 34px;

    font-size: 20px;
  }

  .weekly-hit__order {
    width: 291px;
    box-sizing: border-box;

    padding: 14px 80px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-hit__wrapper {
    padding-top: 69px;
    padding-bottom: 100px;
  }

  .weekly-hit__header-wrapper {
    margin-top: 50px;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 300px;
  }

  .weekly-hit__header {
    @include section-header-desktop;

    order: 1;
    z-index: 1;
  }

  .weekly-hit__label {
    margin: 15px 25px 0 0;
  }

  .weekly-hit__container {
    padding-left: 175px;
  }

  .weekly-hit__description {
    margin-bottom: 49px;
  }

  .weekly-hit__image-wrapper {
    top: 70px;

    //для IE11
    right: 75px;

    width: 525px;
    height: 636px;
  }

  .weekly-hit__property {
    padding: 8px 0 11px 0;
  }

  .weekly-hit__characteristics {
    margin-bottom: 108px;
  }
}
