@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin description {
  margin: 0;

  font-size: $txt-size;
  font-weight: 400;
  line-height: 30px;
  color: $txt-color;
}

@mixin description-tb {
  font-size: 17px;
  line-height: 30px;
}

@mixin page-header {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
}

@mixin section-header {
  margin: 0;

  font-size: $txt-size + 10px;
  line-height: 30px;
}

@mixin section-header-tb {
  font-size: 43px;
  line-height: 50px;
}

@mixin section-header-desktop {
  font-size: 53px;
  line-height: 57px;
}

@mixin display ($disp, $b-margin) {
  display: $disp;
  margin-bottom: $b-margin;
}
