$bg-color: #ffffff;
$bg-grey: #f1f1f1;
$primary-color: #000000;
$txt-color: #444444;
$mint-light: #63d1bb;

$primary-font-size: 17px;
$txt-size: 15px;

$border: 1px solid #ececec;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
